<h1>Products#index</h1>

<%= link_to "Add +" ,new_product_path %>

<% @products.each do |product| %>
  <%=  product.name %>
  <%= image_tag product.logo.url(:thumb) %>
  <%= link_to 'Destroy', product_path(product.id), method: :delete, data: { confirm: 'Are you sure?' } %>

  <br>
<% end %>